
.profile-type-standard .pictureOriginal {
  width: 180px;
  height: 180px;
  border-radius: 500px;
  margin-top: 0;
}
.profile-name a {
  color: #000;
  text-decoration: none;
}
.profile-name {
  margin-top: 24px;
}
.profile-row {
  border-bottom: 2px #e0e0e0 solid;
  padding-bottom: 32px;
  padding-top: 32px;
}
.profile-bio-column {
  max-width: 700px;
}
.profile-contact-row {
  display: flex;
  flex-wrap: wrap;
}
.profile-contact-row > div {
  margin-right: 32px;
}

.profile-row {
  display: flex;
}
.profile-photo-column {
  padding: 24px 24px 24px 0;
  min-width: 180px;
  width: 180px;
}

.loader {
  text-align: center;
  margin-top: 100px;
}

.titleOriginal {
  font-weight: bold;
}
