
.pictureOriginal {
  width: 120px;
  height: 120px;
  border-radius: 500px;
  margin-top: 1rem;
}
.loader {
  text-align: center;
  margin-top: 100px;
}

.titleOriginal {
  font-weight: bold;
}
.iSearchFadeIn {
  animation: fadeInAnimation 1s linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}