.alphabet {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.alphabet a{
    margin: 0;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 7px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    color: #a90044;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 3.70%;
    font-weight: 400;
}

.alphabet a.active-letter {
    color: white;
    background-color: #a90044;
}

.alphabet a:hover {
    color: white;
    background-color: #a90044;
}